<div class="quiz-answer">
  <h3><span class="question" compile="htmlText"></span></h3>
  <div ng-if="question.isChoice()">
    <ol class="choices-list" type="A">
      <li ng-repeat="htmlChoice in htmlChoices">
        <span class="choice" compile="htmlChoice"></span>
      </li>
    </ol>
  </div>
  <p>Your answer was: <span class="your-answer" compile="htmlAnswer"></span></p>
  <p>The correct answer was: <span class="correct-answer" compile="htmlCorrectAnswer"></span></p>
  <div ng-if="question.commentary">
    <h4>Commentary</h4>
    <span class="commentary" compile="htmlCommentary"></span>
  </div>
</div>
