# Dependency directories
node_modules
bower_components

# Example build folders (these need to be in the root for the views to be found)
/directives
/views

# Sublime files
*.sublime-*

# Log files
*.log
