<div class="quiz-answer">
  <h3>
    <i class="fa fa-2x fa-fw fa-check correct" ng-if="question.isCorrect"></i>
    <i class="fa fa-2x fa-fw fa-times incorrect" ng-if="!question.isCorrect"></i>
    &nbsp;{{ question.number }}. <span compile=""></span>{{ question.text }}
  </h3>
  <div ng-if="question.isChoice()">
    <ol>
      <li ng-repeat="choice in question.choices">
        {{ choice }}
      </li>
    </ol>
  </div>
  <p>
    Your answer was:&nbsp;&nbsp;&nbsp;
    <strong>{{ question.getFormattedAnswer() | uppercase }}</strong>
  </p>
  <p>
    The correct answer was:&nbsp;&nbsp;&nbsp;
    <strong>{{ question.getFormattedCorrectAnswer() | uppercase }}</strong>
  </p>
  <div ng-if="question.commentary">
    <h4>Commentary</h4>
    <p compile="sanitizedCommentary"></p>
  </div>
</div>
