<div class="submission-history">
  <div ng-switch on="dirState">

    <!-- Error State BEGIN -->
    <div class="failed" ng-switch-when="error">
      <error-message phrasing="errorPhrasing"></error-message>
    </div>
    <!-- Error State END -->

    <!-- Loading State BEGIN -->
    <div class="loading" ng-switch-when="loading">
      <i class="fa fa-5x fa-spin fa-spinner"></i>
    </div>
    <!-- Loading State END -->

    <!-- Display State BEGIN -->
    <div ng-switch-when="display">
      <p ng-transclude class="note"></p>
      <table>
        <thead>
          <tr>
            <th class="submissionNum">#</th>
            <th class="submissionDate">Date</th>
            <th class="submissionScore" ng-if="gradeQuiz">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="submission in submissions">
            <td class="submissionNum">{{ $index + 1 }}.</td>
            <td class="submissionDate">{{ submission.date | date: 'MMM d, y (h:mm a)' }}</td>
            <td class="submissionScore" ng-if="gradeQuiz">{{ submission.score }} / {{ maxScore }} ({{ ( submission.score / maxScore * 100 ) | number:0 }}%)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Display State END -->

    <!-- No-Results State BEGIN -->
    <div ng-switch-when="no-results">
      <p class="note">You have not yet submitted any results for this exercise.</p>
    </div>
    <!-- No-Results State END -->

  </div>
</div>
