<div class="quiz-question">
  <div class="presentation">
    <h3><span class="question" compile="htmlText"></span></h3>
    <ol class="choices-list" type="A" ng-if="question.isChoice()">
      <li ng-repeat="htmlChoice in htmlChoices">
        <span class="choice" compile="htmlChoice"></span>
      </li>
    </ol>
  </div>
  <div class="input">
    <textarea class="answer-text form-control" ng-model="question.answer" ng-if="question.isText()"></textarea>
    <ol class="answer-choices-list" type="A" ng-if="question.isChoice() || question.isChoiceLiteral()">
      <li ng-repeat="choice in question.choices track by $index">
        <label for="question-{{ question.number }}-{{ $index }}">
          <span class="answer-choice" compile="htmlFormattedChoices[ $index ]"></span>
        </label>
        <input ng-model="question.answer" value="{{ $index }}" id="question-{{ question.number }}-{{ $index }}" type="radio" />
      </li>
    </ol>
  </div>
</div>
